%footer.page-footer.row
  .container
    .row
      .col.l6.s12
        %h5.white-text
          Rick Cooke, Head Auctioneer
        %p.grey-text.text-lighten-4
          IN. (AU1-970-0078)
  .footer-copyright
    .container
      \&copy;
      = Time.now.year
      Cooke's Auction Service, Inc.
      %a.grey-text.text-lighten-3.right{ :href => "/privacy" } Privacy

