

%form{ :action => '/admin/login', :method => 'post' }
  .input-field
    %label
      Password:
    %input#password{ :type => 'password', :name => 'password' }

  #admin_buttons
    %button{ :class => "btn waves-effect waves-light", :type => 'submit' } Login
    %a{ :href => '/' }
      Cancel
