%form{ :action => "#{@action}", :method => 'post' }
  %fieldset
    %legend
      Create/Edit a Sale Listing
    %label
      Page Title
    %input{ :type => 'text', :name => 'page_title', :value => @listing.page.title }
    %br/
    %label
      Visible
    %input{ :type => 'checkbox', :name => 'page_visible', :checked => @listing.page.visible }
    %br/
    %label
      Keywords
    %textarea{ :name => 'page_keywords', :cols => 100, :rows => 5 }= @listing.page.keywords
    %br/
    %label
      Description
    %textarea{ :name => 'page_description', :cols => 100, :rows => 5 }= @listing.page.description
    %br/
    %label
      Content
    %textarea{ :name => 'page_content', :cols => 100, :rows => 20 }= @listing.page.content
    %br/
    %label
      Sale Title
    %input{ :type => 'text', :name => 'sale_title', :value => @listing.sale_title }
    %br/
    %label
      Starting At
    %input#starting_at{ :type => 'text', :name => 'starting_at', :value => @listing.starting_at }
    %br/
    %label
      Latitude
    %input{ :type => 'text', :name => 'latitude', :value => @listing.latitude }
    %br/
    %label
      Longitude
    %input{ :type => 'text', :name => 'longitude', :value => @listing.longitude }
    %br/
    %label
      Street Address
    %input{ :type => 'text', :name => 'street_address', :value => @listing.street_address }
    %br/
    %label
      City
    %input{ :type => 'text', :name => 'city', :value => @listing.city }
    %br/
    %label
      State
    %input{ :type => 'text', :name => 'state', :value => @listing.state }
    %br/
    %label
      Zip
    %input{ :type => 'text', :name => 'zip', :value => @listing.zip }
    %br/
    %label
      Number Photos
    %input{ :type => 'text', :name => 'number_photos', :value => @listing.number_photos }
    %br/
    %label
      Sale Type
    %input{ :type => 'text', :name => 'sale_type', :value => @listing.sale_type }
    %br/
    %label
      Update
    %textarea{ :name => 'update_text', :cols => 100, :rows => 5 }
    %br
    %input{ :type => 'submit', :value => 'Submit' }
    %a{ :href => '/admin' }
      Cancel
