%form{ :action => "#{@action}", :method => 'post' }

  .switch
    %label
      Not Visible
      %input{ :type => 'checkbox', :name => 'page_visible', :checked => @listing.page.visible }
      %span.lever
      Visible

  .input-field
    %label  Page Title
    %input{ :type => 'text', :name => 'page_title', :value => @listing.page.title }

  .input-field
    %label Keywords
    %textarea{ :name => 'page_keywords', :class => "materialize-textarea" }= @listing.page.keywords

  .input-field
    %label Description
    %textarea{ :name => 'page_description', :class => "materialize-textarea" }= @listing.page.description

  .input-field
    %label Content
    %textarea{ :name => 'page_content', :class => "materialize-textarea" }= @listing.page.content

  .input-field
    %label Sale Title
    %input{ :type => 'text', :name => 'sale_title', :value => @listing.sale_title }

  .input-field
    %label Starting At
    %input#starting_at{ :type => 'text', :name => 'starting_at', :value => @listing.starting_at }

  .input-field
    %label Latitude
    %input{ :type => 'text', :name => 'latitude', :value => @listing.latitude }

  .input-field
    %label Longitude
    %input{ :type => 'text', :name => 'longitude', :value => @listing.longitude }

  .input-field
    %label Street Address
    %input{ :type => 'text', :name => 'street_address', :value => @listing.street_address }

  .input-field
    %label City
    %input{ :type => 'text', :name => 'city', :value => @listing.city }

  .input-field
    %label State
    %input{ :type => 'text', :name => 'state', :value => @listing.state }

  .input-field
    %label Zip
    %input{ :type => 'text', :name => 'zip', :value => @listing.zip }

  .input-field
    %label Number Photos
    %input{ :type => 'number', :name => 'number_photos', :value => @listing.number_photos }

  .input-field
    %label Sale Type
    %br/
    %select{ :name => "sale_type", :class => "browser-default" }
      %option{ :value => "public_auction", :selected => @listing.public_auction? } Public Auction
      %option{ :value => "real_estate", :selected => @listing.real_estate? } Real Estate

  .input-field
    %label Update
    %textarea{ :name => 'update_text', :class => "materialize-textarea" }

  %p
    %button{ :type => 'submit', :class => "btn waves-effect waves-light" } Submit
    %a{ :href => '/admin' } Cancel
