

%form{ :action => '/contact-us', :method => 'post' }
  %fieldset
    %legend
      Get a hold of us
      
    %p
      If you'd like to hire Cooke's, it's best to call Rick at
      %a{ :href => "tel:+15743159988" }574-315-9988
    %p
      You have a question, comment, concern?
      %br
      Just want to get a hold of us?
      %br
      Fill out the form below!
      
    .field
      %label
        Name:
      %input#name{ :type => 'text', :name => 'name', :value => @name }
      
    .field
      %label
        Email:
      %input#email{ :type => 'text', :name => 'email' }
      %input#your_email{ :type => 'text', :name => 'your_email', :value => @email }
      
    .field#comment_field
      %label
        Comment:
      %textarea#message{ :name => 'message' }= @message
      
    #buttons
      %input{ :type => 'submit', :value => 'Submit' }
