%ul.collapsible.popout{ :data => { :collapsible => "accordion" } }
  %li
    .collapsible-header
      Would you like to hire us?
    .collapsible-body
      %p
        Please call Rick at
        %a{ :href => "tel:+15743159988" }574-315-9988
  %li
    .collapsible-header
      Questions about an auctions?
    .collapsible-body
      %p
        Please call Rick at
        %a{ :href => "tel:+15743159988" }574-315-9988
  %li
    .collapsible-header
      Want to unsubscribe from our mailing list?
    .collapsible-body
      %p
        Please click the "Unsubscribe" link in one of the emails.
  %li
    .collapsible-header
      Do you have an issue with the website?
    .collapsible-body
      %p
        Please email us:
        %a{ :mailto => "info@cookesauction.com" }info@cookesauction.com

