
%div{:id => "listing_#{@listing.id}"}
  #hcalendar-Public-Auction.vevent
    %span.summary= @listing.nice_type
    at
    %br
    %a.url{ :href => "#" }
      %abbr.dtstart{ :title => "2009-02-08T09:45-06:0000" }
        Feb 8, 2009  09:45am
    %br
    %span.location
      227 12th Street, Chesterton IN
    .description
      This is the desc
