html
  :background-color #f0ece8

#email
  :display none

#footer
  :clear both
  :background url(/images/footer_background.png) repeat-x
  :height 53px
  :color #fff
  :font-family Georgia, "Times New Roman", Times, serif
  :font-size 12px
  :padding-left 15px
  :line-height 4.5em
  a
    :color #fff
    :margin-right 5px

.vevent
  :margin-bottom 15px

.error, .notice
  :margin 10px 0
  :padding 5px

.error
  :border 1px dashed red
  :color red

  li
    :color #000
    :list-style-type circle
    :margin-left 16px

.notice
  :border 1px dashed green

.future-sales
  border-color: transparent

#message
  :height 200px
  :width 400px

#page_list
  li
    :list-style-type none

body[id^='admin']
  #header
    :background-position 0 -149px
    :height 68px

    #nav
      :top 0

  #content
    label
      display: block
      float: left
      width: 115px

    input[type="text"]
      width: 200px
#admin_login
  #header
    :display none


#listing_photos

  clear: both

  a
    display: block
    float: left
    margin: 0 15px 15px 0

.content
  margin-top: 20px

p.disclaimer
  clear: both

#hcalendar-Public-Auction
  .location
    float: right
    width: 300px

  .content
    float: left
    width: 615px

#past_sales
  .vevent
    border: 1px dashed #D3E6D4
    float: left
    margin: 0 10px 20px 0
    padding: 5px
    width: 290px

    &:nth-child(even)
      border:
        color: #546e49
      background:
        color: #E4E4E4

    &:hover
      background:
        color: #DF8E26

#contact_us_accordian h3
  cursor: pointer
  margin-bottom: 10px

.wizard-option
  display: none

.letters li
  list-style-type: lower-alpha
  margin-left: 20px

