%h3
  Hmm, you shouldn't be here!
%p
  But you are, so something must have gone awry. Let's see if we can get you back on track.
%p
  This is a small site, so here's the sitemap and hopefully you can find what you were looking for.
%ul.collection
  %li.collection-item
    %a{ :href => "/" }
      Home
  %li.collection-item
    %a{ :href => "/past-sales" }
      Past sales
  %li.collection-item
    %a{ :href => "/signup" }
      Subscribe to the email list
  %li.collection-item
    %a{ :href => "/hire-us" }
      Hire us
%p
  If the above links didn't help, please
  %a{ :href => "/contact-us" } let us know
  and we'll try to fix it asap!
