
%h4 Past Sales

%p
  Below is an archive of our listings dating back to 2003.
  Please click around to see what we've sold in the past.

- @listings.each do |listing|
  = partial :'_listing', :locals => { :listing => listing }
