%form{ :action => '/unsubscribe', :method => 'post' }
  %p
    We&rsquo;re sorry to see you go, but still hope to see you at our next auction!

  .input-field
    %label
      Email:
    %input#email{ :type => 'email', :name => 'email' }
    %input#your_email{ :type => 'email', :name => 'your_email', :value => @email }

  #buttons
    %button{ :class => "btn waves-effect waves-light", :type => "submit" } Unsubscribe
