<div>
  <%= for testimonial <- @testimonials do %>
    <blockquote>
      <%= testimonial.content %>
      <footer>
        <cite>
          <%= testimonial.author %>
        </cite>
      </footer>
    </blockquote>
  <% end %>
</div>
