.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:emails, :index)
      %li.active=link_to pat(:new), url(:emails, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:email)
    .inner
      -form_for :email, url(:emails, :create), :class => :form do |f|
        =partial "emails/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")