.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:submissions, :index)
      %li=link_to pat(:new), url(:submissions, :new)
      %li.active=link_to pat(:edit), url(:submissions, :edit, :id => @submission.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:submission)
    .inner
      -form_for :submission, url(:submissions, :update, :id => @submission.id), :method => :put, :class => :form do |f|
        =partial "submissions/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")