.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:submissions, :index)
      %li.active=link_to pat(:new), url(:submissions, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:submission)
    .inner
      -form_for :submission, url(:submissions, :create), :class => :form do |f|
        =partial "submissions/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")