/* @import "tailwindcss/base"; */
/* @import "tailwindcss/components"; */
/* @import "tailwindcss/utilities"; */

/* This file is for your main application CSS */
.listing-image {
  height: 320px;
  overflow: hidden;
}

.listing-image img {
  min-height: 320px;
}

.center {
  display: grid;
  place-items: center;
}
