<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="color-scheme" content="light dark" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <title>Welcome to Cooke's Auction Service</title>
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin />
    <link rel="preconnect" href="https://d301i0hwowplau.cloudfront.net" crossorigin />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.green.min.css"
    />
    <!-- Compiled and minified JavaScript -->
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>
          Cooke&rsquo;s Auction Service, Inc.
        </h1>
        <h4>
          It doesn&rsquo;t <em>cost</em> to hire a good auctioneer; It <strong>pays!</strong>
        </h4>
        <.navigation current_page={@current_page} />
      </header>
      <main>
        <%= @inner_content %>
      </main>
      <footer>
        <div class="grid">
          <div>
            <h5>
              Rick Cooke, Head Auctioneer
            </h5>
            <p>
              IN. (AU1-970-0078)
            </p>
          </div>
        </div>
        <div>
          &copy; <%= Date.utc_today().year %> Cooke's Auction Service, Inc.
          <a href="/privacy">Privacy</a>
        </div>
      </footer>
    </div>
  </body>
</html>
