.right
  %h3
    Upcoming Sales
    
  #hcalendar-Public-Auction.vevent
    %span.summary
      Public Auction
    at
    %br
    %a.url{ :href => "#" }
      %abbr.dtstart{ :title => "2009-02-08T09:45-06:0000" }
        Feb 8, 2009  09:45am
    %br
    %span.location
      227 12th Street, Chesterton IN
    .description
      This is the desc
      
  #hcalendar-Public-Auction.vevent
    %span.summary
      Public Auction
    at
    %br
    %a.url{ :href => "#" }
      %abbr.dtstart{ :title => "2009-02-08T09:45-06:0000" }
        Feb 8, 2009  09:45am
    %br
    %span.location
      227 12th Street, Chesterton IN
    .description
      This is the desc
      
  #hcalendar-Public-Auction.vevent
    %span.summary
      Public Auction
    at
    %br
    %a.url{ :href => "#" }
      %abbr.dtstart{ :title => "2009-02-08T09:45-06:0000" }
        Feb 8, 2009  09:45am
    %br
    %span.location
      227 12th Street, Chesterton IN
    .description
      This is the desc
      
  #hcalendar-Public-Auction.vevent
    %span.summary
      Public Auction
    at
    %br
    %a.url{ :href => "#" }
      %abbr.dtstart{ :title => "2009-02-08T09:45-06:0000" }
        Feb 8, 2009  09:45am
    %br
    %span.location
      227 12th Street, Chesterton IN
    .description
      This is the desc
      
.left
  %h3
    Welcome to Cooke's!
  %p
    Cooke's Auction Service was started in 1968 by
    Bill &amp; Dorothy Cooke. In 1997, Rick Cooke received
    Full Honors from the Reppert School of Auctioneering
    in Decatur, IN, and subsequently took over operations
    of Cooke's. Rick has been a member of the Indiana
    Auctioneer's Association since 1998. (AU IN 19700078,
    IL 041000908) Indiana reciprocates auctioneer licenses
    with any other state that also licenses.
  %p
    Whether you have something to sell, make a purchase,
    or would like an interesting and enjoyable experience,
    visit an auction held by Cooke's. If you need to liquidate
    real estate, antiques, farm equipment, household items,
    or an entire estate, please consider hiring us. Cooke's
    will get you a fair price for your merchandise.
  %p
    Buyers interested in genuine bargains and unique
    items should make a point to attend our auctions frequently.
    Cooke's has gained an excellent reputation for professional
    auction services, as well as respect and friendship of both
    buying and selling public of Northwest Indiana.
