%h3
  Hmm, you shouldn't be here!
%p
  But you are, so something must have gone awry. Let's see if we can get you back on track.
%p
  This is a small site, so I'll list out the sitemap and hopefully you can find what you were looking for.
%ul
  %li
    %a{ :href => "/" }
      Home
  %li
    %a{ :href => "/" }
      Home
  %li
    %a{ :href => "/" }
      Home
  %li
    %a{ :href => "/" }
      Home
  %li
    %a{ :href => "/" }
      Home
  %li
    %a{ :href => "/" }
      Home
  %li
    %a{ :href => "/" }
      Home
  %li
    %a{ :href => "/" }
      Home
%p
  If the above links didn't help, please
  %a{ :href => "#" }
    let us know
  \. We'll try to fix it asap!
