/* ================================
   --------------------------------
   MASTER RESET
   --------------------------------
   ================================
*/
*{border:0 none;margin:0;padding:0;}.clearboth{clear:both;}.clearfix{display:block;}.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;}a{outline:none;text-decoration:none;}address,caption,cite,code,dfn,em,h1,h2,h3,h4,h5,h6,strong,th,var{font-style:normal;font-weight:400;}b,strong{font-weight:700;line-height:1;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,block
quote,table,th,td{margin:0;padding:0;}caption,th{text-align:left;}dd{margin-left:2em;}fieldset,img,abbr,img,a img{border:0;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;text-shadow:#000 0 0 0;}i,em{font-style:italic;}q:before,q:after{content:'';}table{border-collapse:collapse;border-spacing:0;}table,tr,td,th{font-size:100%;}