%nav.green.lighten-1
  .nav-wrapper
    %ul#slide-out.side-nav
      %li{ :class => active("index") }
        %a{ :href => "/" } Home
      %li{ :class => active("testimonials") }
        %a{ :href => "/testimonials" } Testimonials
      %li{ :class => active("past_sales") }
        %a{ :href => "/past-sales" } Past sales
      %li{ :class => active("contact_us") }
        %a{ :href => "/contact-us" } Contact us
      %li{ :class => active("signup") }
        %a{ :href => "/signup" } Email list
      - if @is_admin
        %li
          %a{ :href => "/admin" } Admin
    %a{ :href => "#", :data => { :activates => "slide-out" }, :class => "button-collapse" }
      %i.mdi-navigation-menu
    %ul.left.hide-on-med-and-down
      %li{ :class => active("index") }
        %a{ :href => "/" } Home
      %li{ :class => active("testimonials") }
        %a{ :href => "/testimonials" } Testimonials
      %li{ :class => active("past_sales") }
        %a{ :href => "/past-sales" } Past sales
      %li{ :class => active("contact_us") }
        %a{ :href => "/contact-us" } Contact us
      %li{ :class => active("signup") }
        %a{ :href => "/signup" } Email list
      - if @is_admin
        %li
          %a{ :href => "/admin" } Admin
