---
title: Memorial statement for Bill Cooke
---

.row
  %h1 In Memorial of Bill Cooke

.row
  .col.s10.m10.l8
    %p.flow-text
      On May 4, 2016, Bill Cooke, founder of Cooke's Auction Service, passed away in New Smyrna Beach, Florida.
    %p.flow-text
      Bill grew up in Northwest Indiana and founded Cooke's in 1968 with his wife Dorthy. An avid and shrewd businesman,
      he enjoyed the spirt of the auction community and all the great people in it. He and his wife Dorthy
      retired to New Smyrna Beach, Florida in 2000 to enjoy the warm weather and soft sand. Bill became a huge fan of
      the Barracuddas girls basketball team, often treating the team to after-game meals at local restaurants.
    %p.flow-text
      We all owe a lot to Bill. He started a well respected company that has maintained the respect and admiration
      of both clients and auction attendees. He moved fast and made people laugh, and he always did the right
      thing.
    %p.flow-text
      We'll miss you, Grandpa.
    %p
      %cite
        Jesse
        %br
        May 14, 2016
  .col.s14.m14.l4
    = image_tag "bill-and-dorthy-cooke.jpg", :width => 400, :height => 468
    %p.flow-text
      Bill and Dorthy, happy as can be.
      %br
      1978.
