---
title: Memorial statement for Pat Lambright
---

.row
  %h1 In Memorial of Pat Lambright

.row
  .col.s12.m12.l10
    %p.flow-text
      This morning we learned of the passing of a most wonderful person and friend to us all, Patricia Lambright.
    %p.flow-text
      Pat and her husband Harvey worked together for over 55 years at one of Indiana's most well-respected auction
      companies, Lewis and Lambright Auctionioneering & Real Estate.  Pat was widely loved in the auction
      community. She served as president of the Indiana Auctioneers Association,
      and she was lauded by the National Auctioneer Association by being the first woman inducted into their
      Auxiliary Hall of Fame.
    %p.flow-text
      She held the kindest heart and always put others ahead of herself. Our condolences go out to her family in
      this time of great loss. Pat lived a life full of love and will be missed dearly.
    %p
      %cite
        Rick, Jesse, and everyone at Cooke's Auction Service
        %br
        November 29, 2015
  .col.s12.m12.l2
    = image_tag "pat-lambright.jpg", :width => 152, :height => 192
